/* === GLOBAL STYLES === */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #3C3C3C;
  background-color: #FFFFFF; }

h1 {
  margin: 3% 0;
  font-size: 3.6rem;
  font-weight: 700; }
  @media (min-width: 768px) {
    h1 {
      font-size: 5.4rem; } }

h2 {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; }
  @media (min-width: 576px) {
    h2 {
      width: 420px;
      padding: 0; } }

h2:before {
  content: '';
  display: block;
  width: 1000px;
  border-top: 2px solid;
  position: absolute;
  top: 50%;
  left: calc(100% + 40px); }
  @media (min-width: 576px) {
    h2:before {
      left: 100%; } }

h2:after {
  content: '';
  display: block;
  width: 1000px;
  border-top: 2px solid;
  position: absolute;
  top: 50%;
  right: calc(100% + 40px); }
  @media (min-width: 576px) {
    h2:after {
      right: 100%; } }

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

button {
  padding: 0;
  outline: none;
  cursor: pointer; }

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; }

/* === ADDITIONAL STYLES === */
.frame, .about-us-content, .services-content, .what-we-do-content, .contact-us-content {
  position: relative;
  border: 2px solid;
  border-top: none;
  text-align: center; }

.heading {
  position: absolute;
  top: 0;
  left: -2px;
  transform: translateY(-50%);
  width: calc(100% + 4px);
  overflow: hidden; }

/* === GRID SYSTEM STYLES === */
.container-fluid {
  width: 100%;
  margin: 0 auto; }

.row:before, .row:after {
  content: '';
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  width: 100%;
  /* Mobile First */
  min-height: 1px;
  padding: 0 15px; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

/* === PAGE-HEADER STYLES === */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #FFFFFF;
  background-color: #A8B3C8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .page-header-content {
    text-align: center; }
    @media (min-width: 1200px) {
      .page-header-content {
        padding-top: 18%; } }
  .page-header-heading {
    text-transform: uppercase;
    letter-spacing: 5px; }
  .page-header-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.9rem;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .page-header-paragraph {
        margin-bottom: 20%; } }
  .page-header .scroll-icon {
    font-size: 5rem;
    animation-name: scroll-icon;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }

/* === ABOUT-US SECTION STYLES === */
.about-us {
  padding: 120px 0; }
  .about-us-content {
    padding: 8.4% 18.4% 6.4%; }

/* === SERVICES SECTION STYLES === */
.services {
  padding: 120px 0;
  color: #FFFFFF;
  background-color: #A8B3C8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .services-content {
    padding: 8.4% 18.4% 6.4%;
    border-top: none; }

/* === WHAT-WE-DO SECTION STYLES === */
.what-we-do {
  padding: 120px 0; }
  .what-we-do-content {
    padding: 13.7% 19.5% 10.3%; }
    .what-we-do-content P {
      margin-bottom: 20.5%;
      font-size: 1.4rem; }
      .what-we-do-content P:last-child {
        margin: 0; }

/* === WORKS SECTION STYLES === */
.works {
  color: #FFFFFF; }
  .works [class*="col-"] {
    padding: 0; }
  .works-item {
    padding-top: 57.0054119062%;
    border-bottom: 10px solid;
    background-color: #A8B3C8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .works-item:hover .work-item-label {
      left: 50%;
      transform: translateX(-50%); }
    @media (min-width: 768px) {
      .works-item {
        border-right: 10px solid; } }
  .works-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .works-layer .work-item-label {
      display: inline-block;
      font-size: 3.4rem;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 65%;
      left: 5%;
      transition: left .5s, transform .5s; }

/* === CONTACT-US SECTION STYLES === */
.contact-us {
  padding: 120px 0; }
  .contact-us-content {
    padding: 8.3% 10% 5.4%; }
    @media (min-width: 576px) {
      .contact-us-content {
        padding-left: 20.9%;
        padding-right: 20.9%; } }
  .contact-us-paragraph {
    margin-bottom: 45px; }
  .contact-us-btn {
    width: 100%;
    height: 60px;
    border: 2px solid transparent;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFFFFF;
    background-color: #3C3C3C;
    transition: all .5s; }
    .contact-us-btn:hover {
      border: 2px solid #3C3C3C;
      color: #3C3C3C;
      background-color: transparent;
      font-weight: 700; }
    @media (min-width: 768px) {
      .contact-us-btn {
        width: 76%; } }

/* === PAGE-FOOTER STYLES === */
.page-footer-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 1.4rem;
  font-weight: 400; }
  .page-footer-paragraph img {
    margin: 0 20px; }

@keyframes scroll-icon {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* === MEDIA QUERIES STYLES === */
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.3333333333%; }
  .col-sm-11 {
    width: 91.6666666667%; }
  .col-sm-12 {
    width: 100%; }
  .text-wrap {
    display: block; } }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%; }
  .col-md-2 {
    width: 16.6666666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.3333333333%; }
  .col-md-5 {
    width: 41.6666666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.3333333333%; }
  .col-md-8 {
    width: 66.6666666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.3333333333%; }
  .col-md-11 {
    width: 91.6666666667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%; }
  .col-lg-2 {
    width: 16.6666666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.3333333333%; }
  .col-lg-5 {
    width: 41.6666666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.3333333333%; }
  .col-lg-8 {
    width: 66.6666666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.3333333333%; }
  .col-lg-11 {
    width: 91.6666666667%; }
  .col-lg-12 {
    width: 100%; }
  .border-right-none {
    border-right: none; }
  .border-bottom-none {
    border-bottom: none; }
  .works-large {
    padding-top: 28.5027059531%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%; }
  .col-xl-2 {
    width: 16.6666666667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.3333333333%; }
  .col-xl-5 {
    width: 41.6666666667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.3333333333%; }
  .col-xl-8 {
    width: 66.6666666667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.3333333333%; }
  .col-xl-11 {
    width: 91.6666666667%; }
  .col-xl-12 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */