//Grid variables
$grid-columns: 12;
$max-col-width: 100%;
$min-col-width: $max-col-width / $grid-columns;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//Fonts
$base-font-family: 'Lato', sans-serif;

//Font weights
$light: 300;
$regular: 400;
$bold: 700;

//Colors
$main-bg-color: #A8B3C8;
$text-color-1: #3C3C3C;
$text-color-2: #FFFFFF;
$btn-bg-color: #3C3C3C;

//Mixins
@mixin column-size($size) {
    @for $i from 1 through $grid-columns {
        .col-#{$size}-#{$i} {
            width: $min-col-width * $i;
        }
    }
}

/* === GLOBAL STYLES === */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $base-font-family;
    color: $text-color-1;
    background-color: #FFFFFF;
}

h1 {
    margin: 3% 0;
    font-size: 3.6rem;
    font-weight: $bold;
    @media (min-width: $break-md) {
        font-size: 5.4rem;
    }
}

h2 {
    display: inline-block;
    font-size: 3.4rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    @media (min-width: $break-sm) {
        width: 420px;
        padding: 0;
    }
}

h2:before {
    content: '';
    display: block;
    width: 1000px;
    border-top: 2px solid;
    position: absolute;
    top: 50%;
    left: calc(100% + 40px);
    @media (min-width: $break-sm) {
        left: 100%;
    }
}

h2:after {
    content: '';
    display: block;
    width: 1000px;
    border-top: 2px solid;
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);
    @media (min-width: $break-sm) {
        right: 100%;
    }
}

h3 {
    font-size: 2rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1.6rem;
    font-weight: $light;
    line-height: 2.4rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

button {
    padding: 0;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

/* === ADDITIONAL STYLES === */
.frame {
    position: relative;
    border: 2px solid;
    border-top: none;
    text-align: center;
}

.heading {
    position: absolute;
    top: 0;
    left: -2px;
    transform: translateY(-50%);
    width: calc(100% + 4px);
    overflow: hidden;
}

/* === GRID SYSTEM STYLES === */
.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after {
    content: '';
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    width: 100%; /* Mobile First */
    min-height: 1px;
    padding: 0 15px;
}

@include column-size(xs);

/* === PAGE-HEADER STYLES === */
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $text-color-2;
    background-color: $main-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-content {
        text-align: center;
        @media (min-width: $break-xl) {
            padding-top: 18%;
        }
    }
    &-heading {
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &-paragraph {
        font-size: 1.5rem;
        font-weight: $regular;
        line-height: 2.9rem;
        text-transform: uppercase;
        @media (min-width: $break-xl) {
            margin-bottom: 20%;
        }
    }
    .scroll-icon {
        font-size: 5rem;
        animation-name: scroll-icon;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

/* === ABOUT-US SECTION STYLES === */
.about-us {
    padding: 120px 0;
    &-content {
        @extend .frame;
        padding: 8.4% 18.4% 6.4%;
    }
}

/* === SERVICES SECTION STYLES === */
.services {
    padding: 120px 0;
    color: $text-color-2;
    background-color: $main-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-content {
        @extend .frame;
        padding: 8.4% 18.4% 6.4%;
        border-top: none;
    }
}

/* === WHAT-WE-DO SECTION STYLES === */
.what-we-do {
    padding: 120px 0;
    &-content {
        @extend .frame;
        padding: 13.7% 19.5% 10.3%;
        P {
            margin-bottom: 20.5%;
            font-size: 1.4rem;
            &:last-child {
                margin: 0;
            }
        }
    }
}

/* === WORKS SECTION STYLES === */
.works {
    color: $text-color-2;
    [class*="col-"] {
        padding: 0;
    }
    &-item {
        padding-top: 57.0054119062%;
        border-bottom: 10px solid;
        background-color: $main-bg-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:hover .work-item-label {
            left: 50%;
            transform: translateX(-50%);
        }
        @media (min-width: $break-md) {
            border-right: 10px solid;
        }
    }
    &-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .work-item-label {
            display: inline-block;
            font-size: 3.4rem;
            font-weight: $bold;
            text-transform: uppercase;
            position: absolute;
            top: 65%;
            left: 5%;
            transition: left .5s, transform .5s;
        }
    }
}

/* === CONTACT-US SECTION STYLES === */
.contact-us {
    padding: 120px 0;
    &-content {
        @extend .frame;
        padding: 8.3% 10% 5.4%;
        @media (min-width: $break-sm) {
            padding-left: 20.9%;
            padding-right: 20.9%;
        }
    }
    &-paragraph {
        margin-bottom: 45px;
    }
    &-btn {
        width: 100%;
        height: 60px;
        border: 2px solid transparent;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $text-color-2;
        background-color: $btn-bg-color;
        transition: all .5s;
        &:hover {
            border: 2px solid $btn-bg-color;
            color: $text-color-1;
            background-color: transparent;
            font-weight: $bold;
        }
        @media (min-width: $break-md) {
            width: 76%;
        }
    }
}

/* === PAGE-FOOTER STYLES === */
.page-footer {
    &-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 1.4rem;
        font-weight: $regular;
        img {
            margin: 0 20px;
        }
    }
}

@keyframes scroll-icon {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* === MEDIA QUERIES STYLES === */
@media (min-width: $break-sm) {
    @include column-size(sm);
    
    .text-wrap {
        display: block;
    }
}

@media (min-width: $break-md) {
    @include column-size(md);
}

@media (min-width: $break-lg) {
    @include column-size(lg);
    
    .border-right-none {
        border-right: none;
    }
    
    .border-bottom-none {
        border-bottom: none;
    }
    
    .works-large {
        padding-top: (237 / 831.5) * 100%;
    }
}

@media (min-width: $break-xl) {
    @include column-size(xl);
}